@{
    ViewData["Title"] = "Icono";
}
<h1>@ViewData["Title"]</h1>
    <header>
      <a
        href="https://api.whatsapp.com/send?phone=+51987654321"
        class="btn-fcb"
        target="_blank"
      >
        <i class="fa fa-facebook icono"></i>
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=+51987654321"
        class="btn-wsp"
        target="_blank"
      >
        <i class="fa fa-whatsapp icono"></i>
      </a>
    </header>

